.navbar-1 {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.navbar-2 {
    height: 70px;
    max-width: 1200px;
    min-height: 56px;
}

.logo-navbar {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.navbar-items {
    margin-left: 120px;
}